body {
  background-image: url('https://ep01.epimg.net/especiales/2020/coronavirus-covid-19/un-mundo-de-calles-vacias/img/galeria/02.jpg?time=1913');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.traffic-light-container {
  background-color: rgb(59, 109, 1);
  width: 120px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 30px;
  margin-right: auto;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  border: 5px solid black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.on {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
}

button {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border: 2px solid black;
  color: white;
}

button:hover {
  background-color: lightgray;
}

